/* *, *::before, *::after {
  box-sizing: border-box;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #051923;

}

.calculator-shell {
  background-color: black;
  border: 20px solid black;
  border-radius: 20px;
  margin-top: 10rem;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows:  minmax(7rem, auto) repeat(5, 6rem); /* Allowing auto enables the output div to grow the more encumbered it becomes. */
}

.calculator-grid > button {
  margin: 5px;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  border-radius: 20px;
  outline: none;
  transition: ease-in-out .1s;
}

.calculator-grid > button:hover {
  background-color: rgba(41, 33, 68, 0.5);
  transform: scale(.95);
}

.highlight {
  background-color: rgba(41, 33, 68, 0.5);
}

.no-highlight {
  background-color: black;
}

.spans-two {
  grid-column: span 2;
  background-color: rgba(41, 33, 68, 0.5)
}

.output {
  margin: 5px;
  grid-column: 1 / -1; /* Using grid column this way allows for the entire output div to span the entire top row. */
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Using column as the flex direction allows the previous and current inputs to be stacked on each other. */
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word; /* Allows longer outputs to wrap in div as it grows. */
  word-break: break-all;
  padding: .75rem; 
}

.output .previous-input input[type="text"] {
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  text-align: end;
  /* border: 1px solid white; */
  border: none;
  height: 35px;
  width: 350px;
}

.output .current-input input[type="text"] {
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: end;
  /* border: 1px solid white; */
  border: none;
  height: 35px;
  width: 350px;
}



